-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      -# how to refactor this? ugh haml!
      - if (@current_sort=='title')
        %th.hilite= header_sort_link("Movie Title", "title")
      - else
        %th= header_sort_link("Movie Title", "title")
      %th Rating
      - if (@current_sort=='release_date')
        %th.hilite= header_sort_link("Release Date", "release_date")
      - else
        %th= header_sort_link("Release Date", "release_date")
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
%div